@use '../utils/colors' as *;

.os-breadcrumb {
  &-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: flex;
    align-items: center;
    padding-right: 12px;

    &:last-child {
      .os-breadcrumb-link {
        padding-right: 0;
        font-size: 0.875rem;
        color: $typography-700;
        cursor: default;
      }

      .link-icon {
        display: none;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $primary-normal;
  }

  .link-icon {
    padding-left: 12px;
    font-size: 0.75rem;
    color: $typography-900;
  }
}
