@use '../utils/colors' as *;
@use '../utils/variables' as *;

.os-products {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-gap: 30px;
  margin-top: 50px;

  &-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &-title {
    font-weight: 400;
    margin-bottom: 0;
  }

  .wish {
    &-list {
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    &-icon {
      font-size: 1.125rem;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 30px 0;
  }

  &-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
